---
sudo: required

language: python

services:
  - docker

before_install:
  - sudo apt-get -qq update

install:
  - pip install tox-travis

script:
  - tox

notifications:
  webhooks: https://galaxy.ansible.com/api/v1/notifications/
