description "etcd service registry"

start on runlevel [2345]
stop on runlevel [!2345]

respawn

{% macro initial_cluster() -%}
{% for host in groups[etcd_peers_group] -%}
   {% if loop.last -%}
{{ host }}={{ etcd_url_scheme }}://{{ hostvars[host]['ansible_' + etcd_interface]['ipv4']['address'] }}:{{ etcd_peer_port }}
   {%- else -%}
{{ host }}={{ etcd_url_scheme }}://{{ hostvars[host]['ansible_' + etcd_interface]['ipv4']['address'] }}:{{ etcd_peer_port }},
   {%- endif -%}
{% endfor -%}
{% endmacro -%}

script
  {{ etcd_cmd }} \
    -initial-cluster-token {{ etcd_initial_cluster_token }} \
    -initial-cluster {{ initial_cluster() }} \
    -initial-cluster-state {{ etcd_initial_cluster_state }} \
    -initial-advertise-peer-urls {{ etcd_initial_advertise_peer_urls }} \
    -advertise-client-urls {{ etcd_advertise_client_urls }} \
    -listen-client-urls {{ etcd_listen_client_urls }} \
    -listen-peer-urls {{ etcd_listen_peer_urls }} \
    -data-dir {{ etcd_data_dir }} \
    -name {{ inventory_hostname }}
end script
